body {
  font-family: Arial, Helvetica, sans-serif;
}
 
@font-face {
  font-family: 'RobotoSlab';
  src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: RobotoSlab, Arial;
}
 
.logo__title {
  font-family: RobotoSlab, Arial !important;
}

:root {
    --raspberry: rgb(165,0,52);
    --raspberry-min: rgb(165,0,52,3%);
    --raspberry-mid: rgb(165,0,52,20%);
    --yellow: #FFB81C;
    --yellow-min: #FFB81C05;
    --yellow-mid: #FFB81C20;
    --darkGreen: #009B77;
    --darkGreen-min: #009B7710;
    --darkGreen-mid: #009B7725;
    --blue: #0076C2;
    --blue-min: #0076C210;
    --blue-mid: #0076C225;
    --black: var(--pst-color-text-base);
    --black-min: #56565605;
    --black-mid: #56565625;
    --orange: #EC6842;
    --orange-min: #EC684210;
    --orange-mid: #EC684225;
    --cyan: #00A6D6;
    --gray: #7d7d7d;
    --gray-min: #7d7d7d05;
    --gray-mid: #7d7d7d20;
    --purple: #6f1d77;
    --purple-min: #6f1d7705;
    --purple-mid: #6f1d7720;
    --pink: #EF60A3;
    --pink-min: #EF60A310;
    --pink-mid: #EF60A325;
    --red: #E03C31;
    --red-min: #E03C3110;
    --red-mid: #E03C3125;
    --green: #6CC24A;
    --green-min: #6CC24A10;
    --green-mid: #6CC24A25;
  }
  
  
  div.grasple p.admonition-title::after {
    content: "\f12e";
    color: var(--raspberry);
  }
  div.grasple p.admonition-title::before {
    content: "";
  }
  div.grasple {
    border-color: var(--raspberry);
    background-color: var(--raspberry-min);
  }
  div.grasple > p.admonition-title {
    background-color: var(--raspberry-mid);
  }
  
  div.exercise p.admonition-title::after {
    content: "\f12e";
    color: var(--raspberry);
  }
  div.exercise p.admonition-title::before {
    content: "";
  }
  div.exercise {
    border-color: var(--raspberry);
    background-color: var(--raspberry-min);
  }
  div.exercise > p.admonition-title {
    background-color: var(--raspberry-mid);
  }
  
  
  div.definition p.admonition-title::after {
    content: "\f02d";
    color: var(--blue);
  }
  div.definition {
    border-color: var(--blue);
    background-color: var(--blue-min);
  }
  div.definition > p.admonition-title {
    background-color: var(--blue-mid);
  }
  
  div.theorem  p.admonition-title::after,
  div.proposition p.admonition-title::after,
  div.corollary p.admonition-title::after {
    content: "\f51b";
    color: var(--darkGreen);
  }
  div.theorem, div.proposition, div.corollary {
    border-color: var(--darkGreen);
    background-color: var(--darkGreen-min);
  }
  div.theorem > p.admonition-title,
   div.proposition > p.admonition-title,
   div.corollary >p.admonition-title {
    background-color: var(--darkGreen-mid);
  }
  
  div.example {
    border-color: var(--yellow);
    background-color: var(--yellow-min);
  }
  div.example > p.admonition-title {
    background-color: var(--yellow-mid);
    /* color: white; */
  }
  div.example p.admonition-title::after {
    content: "\f002";
    transform: scale(-1, 1);
    color: var(--yellow);
  }
  
  div.admonition.solution {
    border-color: var(--purple);
    background-color: var(--purple-min);
  }
  
  div.admonition.solution > .admonition-title {
    background-color: var(--purple-mid);
    /* color: white; */
  }
  
  div.admonition.solution > .admonition-title::after {
    content: "\e5a0";
    color: var(--purple);
  }
  
  div.admonition.myproof {
    border-color: var(--darkGreen);
    background-color: var(--gray-min);
  }
  
  div.admonition.myproof > .admonition-title {
    background-color: var(--gray-mid);
  }
  
  div.admonition.myproof > .admonition-title::after {
    content: "\f51c";
    color: var(--gray);
  }
  
  div.algorithm > .admonition-title::after {
    content: "\f051";
    color: var(--black);
  }
  
  div.algorithm {
    border-color: var(--black);
    background-color: var(--black-min);
  }
  
  div.algorithm > .admonition-title {
    background-color: var(--black-mid);
  }
  
  div.admonition.bonus {
    border-color: var(--gray);
    background-color: var(--gray-min);
  }
  
  div.admonition.bonus > .admonition-title {
    background-color: var(--gray-mid);
  }
  
  div.admonition.bonus > .admonition-title::after {
    content: "\f06b";
    color: var(--gray);
  }
  
  div.admonition.caution, div.admonition.warning, div.admonition.attention, div.admonition.important {
    border-color: var(--orange);
    background-color: var(--orange-min);
  }
  
  div.admonition.caution > .admonition-title,
   div.admonition.warning > .admonition-title,
    div.admonition.attention > .admonition-title,
     div.admonition.important > .admonition-title {
    background-color: var(--orange-mid);
  }
  
  div.admonition.caution > .admonition-title::after,
   div.admonition.warning > .admonition-title::after,
    div.admonition.attention > .admonition-title::after,
     div.admonition.important > .admonition-title::after {
    color: var(--orange);
  }
  
  div.admonition.danger, div.admonition.error {
    border-color: var(--red);
    background-color: var(--red-min);
  }
  
  div.admonition.danger > .admonition-title,
   div.admonition.error > .admonition-title {
    background-color: var(--red-mid);
  }
  
  div.admonition.danger > .admonition-title::after,
   div.admonition.error > .admonition-title::after {
    color: var(--red);
  }
  
  div.admonition.hint, div.admonition.note, div.admonition.seealso, div.admonition.tip, div.admonition.remark, div.admonition.observation {
    border-color: var(--green);
    background-color: var(--green-min);
  }
  
  div.admonition.hint > .admonition-title,
   div.admonition.note > .admonition-title,
    div.admonition.seealso > .admonition-title,
     div.admonition.tip > .admonition-title,
      div.admonition.remark > .admonition-title,
      div.admonition.observation > .admonition-title  {
    background-color: var(--green-mid);
  }
  
  div.admonition.hint > .admonition-title::after,
   div.admonition.note > .admonition-title::after,
    div.admonition.seealso > .admonition-title::after,
     div.admonition.tip > .admonition-title::after,
     div.admonition.remark > .admonition-title::after,
     div.admonition.observation > .admonition-title::after {
    color: var(--green);
    content: "\f249";
  }
